# public non ssl default server
server {
    listen 8080 default_server;
    server_name _;

    location /nginxhealth {
        add_header Content-Type application/json;
        return 200 '{"app":"dev-nginx","status":"ok","server":"public"}';
    }

    location ~ ^/(favicon.ico|favicon.jpg)$ {
        root /var/www/html/public;
        try_files /assets/$uri @deny;
    }

    location / {
        try_files /dev/null @deny;
    }

    location @deny {
        deny all;
    }
}

# private non ssl default server
server {
    # THIS MUST NOT BE ACCESSIBLE OUTSIDE OF INTERNAL CONNECTIONS! (hence different port which should not be mapped to publicly available port)
    listen 8181 default_server;
    server_name _;
    root /var/www/html/public;

    location ~ /\. {
        try_files /dev/null @deny;
    }

    location ~ \.py {
        try_files /dev/null @deny;
    }

    location /nginxhealth {
        add_header Content-Type application/json;
        return 200 '{"app":"dev-nginx","status":"ok","server":"private"}';
    }

    location ~ ^/(?<service_name_part_1>[a-z0-9]+)-(?<service_name_part_2>[a-z0-9]+)-(?<service_name_part_3>[a-z0-9]+)(?<local>(|.localhost))/ {
        resolver ${NGINX_LOCATION_RESOLVER};

        rewrite ^/([a-z0-9-\.]+)/(?<service_path>.*)$ /$2 break;

        proxy_set_header Host $service_name_part_1.$service_name_part_2.$service_name_part_3$local;
        proxy_pass http://$service_name_part_1-$service_name_part_2-$service_name_part_3.default.svc.cluster.local:8000;
    }

    location / {
        try_files /dev/null @deny;
    }

    location @deny {
        deny all;
    }
}
